@import 'nullstyle/nullstyle'

html
    scroll-behavior: smooth

body

.center
    padding: 0 calc( 50% - 620px )

.logo

.header
    display: flex
    justify-content: space-between
    align-items: center

    padding-top: 44px
    padding-bottom: 25px
    &__menu
        display: flex
        gap: 50px
    &__link
        color: rgb(22, 22, 22)
        font-family: "Montserrat", sans
        font-size: 16px
        font-weight: 400
        line-height: 21px
        text-align: left
        text-decoration: none
    &__buttons
        display: flex
        gap: 14px

    &__button
        padding: 8px

        color: rgb(22, 22, 22)
        font-family: "Montserrat", sans
        font-size: 16px
        font-weight: 500
        line-height: 22px
        text-align: left
    &__button_2
        box-sizing: border-box
        border: 1px solid rgb(22, 22, 22)
        border-radius: 10px

.hero
    display: flex
    margin-bottom: 20px
    background-color: #154444
    overflow: hidden

    &__img-wrapper
        background-color: #3C7E7E
        // overflow: hidden
        img
            max-height: 545px
            width: 505px
        animation: 1s hero_img_appearance
    &__content
        padding: 100px 170px 100px 125px

        animation: 1s hero_content_appearance

    &__heading
        color: rgb(255, 255, 255)
        font-family: Montserrat
        font-size: 56px
        font-weight: 700
        line-height: 130%
        letter-spacing: 1px
        text-align: left

        margin-bottom: 24px

    &__description
        color: rgb(255, 255, 255)
        font-family: Montserrat
        font-size: 20px
        font-weight: 400
        line-height: 25px
        letter-spacing: 1px
        text-align: left

        max-width: 440px
        margin-bottom: 50px

    &__button
        padding: 15px 25px
        background-color: #fff
        border-radius: 5px

        color: rgb(34, 88, 88)
        font-family: Montserrat
        font-size: 20px
        font-weight: 400
        line-height: 130%
        text-align: center
@keyframes hero_content_appearance
    0%
        transform: translateX(500px)
        opacity: 0
    100%
        transform: translateX(0px)
        opacity: 1
@keyframes hero_img_appearance
    0%
        transform: translateX(-500px)
        opacity: 0
    100%
        transform: translateX(0px)
        opacity: 1

.social-proof
    display: flex
    padding-top: 80px
    padding-bottom: 50px
    margin-bottom: 140px
    background: radial-gradient(25.00% 40.00% at 50% 60%,rgba(61, 163, 163, 0.2),rgba(61, 163, 163, 0) 98.998%)
    img
        width: 100%
        height: 100%

.about
    display: flex
    margin-bottom: 140px
    &__image-wrapper
        background-color: #3C7E7E
        position: relative
        img
            min-width: 610px
            height: 754px
        &::after
            content: ""
            width: 780px
            height: 780px
            border-radius: 50%
            position: absolute
            right: -390px
            z-index: -100

            background: radial-gradient(50.00% 50.00% at 50% 50%,rgba(61, 163, 163, 0.5),rgba(61, 163, 163, 0.4) 18.213%,rgba(61, 163, 163, 0) 100%)
            opacity: 1

    &__content
        padding: 32px 0 60px 70px
    &__title
        color: rgb(34, 88, 88)
        font-family: Montserrat
        font-size: 32px
        font-weight: 700
        line-height: 130%
        text-align: left

        margin-bottom: 32px
    &__description
        color: rgb(68, 68, 68)
        font-family: Montserrat
        font-size: 20px
        font-weight: 400
        line-height: 130%
        letter-spacing: 0px
        text-align: left

        margin-bottom: 50px
    &__list
        display: flex
        flex-direction: column
        gap: 30px
    &__list-el
        position: relative
        padding-left: 105px
        svg
            position: absolute
            top: 20px
            left: 0
    &__ability
        color: rgb(34, 88, 88)
        font-family: Montserrat
        font-size: 20px
        font-weight: 700
        line-height: 130%
        text-align: left

        margin-bottom: 14px
    &__ability-description
        color: rgb(56, 55, 56)
        font-family: Montserrat
        font-size: 18px
        font-weight: 400
        line-height: 130%
        letter-spacing: 0px
        text-align: left

.advantages
    position: relative
    padding-bottom: 105px

    &__wrapper
        background: linear-gradient(180.00deg, rgba(255, 255, 255, 0) 1.188%,rgb(230, 230, 230) 66.146%,rgba(255, 255, 255, 0) 100%)

    .slick-list
        overflow: hidden
    .slick-track
        display: flex
        gap: 20px
        width: 1200px
    .slick-arrow
        position: absolute
        top: 65px
        width: 40px
        height: 40px
        font-size: 0
        background: rgb(231, 231, 231)
        border-radius: 50%
        &.slick-disabled
            opacity: 0.6
        &.slick-prev
            right: 60px
            &::after
                content: url("../img/arrow_prev.png")
        &.slick-next
            right: 0
            &::after
                content: url("../img/arrow_next.png")

    &__heading
        color: rgb(56, 55, 56)
        font-family: Montserrat
        font-size: 32px
        font-weight: 700
        line-height: 130%
        text-align: left

        margin-bottom: 20px
    &__description
        color: rgb(56, 55, 56)
        font-family: Montserrat
        font-size: 20px
        font-weight: 400
        line-height: 130%
        text-align: left

        margin-bottom: 80px
    &__slider
        min-width: 0

    &__card
        background-color: #fff
        max-width: 400px
        border-radius: 10px
        position: relative
        padding: 64px 25px 36px 25px
        svg
            position: absolute
            top: 25px
            left: 25px

    &__card-title
        color: rgb(22, 22, 22)
        font-family: Montserrat
        font-size: 20px
        font-weight: 500
        line-height: 130%
        text-align: center

        padding-left: 95px
        margin-bottom: 32px
    &__card-description
        color: rgb(56, 55, 56)
        font-family: Montserrat
        font-size: 18px
        font-weight: 400
        line-height: 130%
        text-align: left

.line
    width: 56px
    height: 2px
    position: absolute
    bottom: 0
    left: 268px
    background: rgb(21, 68, 68)

    transition: all 0.5s
.roles
    padding: 24px calc( 50% - 515px ) 136px
    background: radial-gradient(50.00% 50.00% at 50% 50%,rgba(61, 163, 163, 0.4),rgba(61, 163, 163, 0.15) 54.043%,rgba(60, 126, 126, 0) 99.6%,rgba(196, 196, 196, 0) 100%)
    &__heading
        color: rgb(56, 55, 56)
        font-family: Montserrat
        font-size: 32px
        font-weight: 700
        line-height: 130%
        letter-spacing: 0px
        text-align: center

        margin-bottom: 30px
    &__navigaton
        display: flex
        justify-content: space-between
        padding: 0 233px
        margin-bottom: 80px

        position: relative
    &__nav-el
        color: rgb(145, 144, 144)
        font-family: Montserrat
        font-size: 24px
        font-weight: 400
        line-height: 130%
        letter-spacing: 0px
        text-align: left

        padding: 15px 20px
    &__nav-el_active
        color: rgb(21, 68, 68)
        font-family: Montserrat
        font-size: 24px
        font-weight: 500
        line-height: 130%
        letter-spacing: 0px
        text-align: left
    &__body

    &__block
        display: flex
        justify-content: space-between
        padding-left: 140px
        position: relative

        &::before
            color: rgba(68, 68, 68, 0.22)
            font-family: Montserrat
            font-size: 344.19px
            font-weight: 400
            line-height: 420px
            letter-spacing: 0px
            text-align: left

            position: absolute
            left: 110px
            top: 27px
            animation: 0.5s roles

        &:nth-child(1)
            &::before
                content: "01"
        &:nth-child(2)
            display: none
            &::before
                content: "02"
        &:nth-child(3)
            display: none
            &::before
                content: "03"

    &__description
        color: rgb(56, 55, 56)
        font-family: Montserrat
        font-size: 24px
        font-weight: 400
        line-height: 120%
        letter-spacing: 0%
        text-align: left

        max-width: 360px
        padding-top: 20px

        position: relative
        animation: 0.5s roles

    &__img-wrapper
        background: rgb(60, 126, 126)
        width: 505px
        height: 360px

@keyframes roles
    0%
        transform: translateX(-50px)
        opacity: 0
    100%
        transform: translateX(0px)
        opacity: 1
.footer
    display: flex
    justify-content: space-between
    padding-top: 68px
    padding-bottom: 30px

    background: rgb(60, 126, 126)
    &__logo
        display: inline-block
        margin-bottom: 24px
    &__description
        color: rgb(255, 255, 255)
        font-family: Montserrat
        font-size: 18px
        font-weight: 400
        line-height: 25px
        letter-spacing: 1px
        text-align: left

        margin-bottom: 35px
        max-width: 390px
    &__connect
        color: rgb(255, 255, 255)
        font-family: Montserrat
        font-size: 20px
        font-weight: 700
        line-height: 25px
        letter-spacing: 1px
        text-align: left

        margin-bottom: 20px
    &__social-media
        display: flex
        gap: 15px

    &__subscribe
        color: rgb(255, 255, 255)
        font-family: Montserrat
        font-size: 20px
        font-weight: 700
        line-height: 24px
        letter-spacing: 0%
        text-align: left

        margin-bottom: 20px
    &__subscribe-text
        color: rgb(255, 255, 255)
        font-family: Montserrat
        font-size: 18px
        font-weight: 400
        line-height: 23px
        letter-spacing: 0%
        text-align: left

        max-width: 240px
        margin-bottom: 20px
    &__form
        position: relative
    &__send
        position: absolute
        display: flex
        align-items: center
        justify-content: center
        z-index: 10
        top: 11px
        right: 12px

        width: 28px
        height: 28px
        border-radius: 50%
        background-color: #FFB624

    &__email
        background-color: #fff
        padding: 14px 50px 14px 22px

        color: rgb(56, 55, 56)
        font-family: Montserrat
        font-size: 16px
        font-weight: 500
        line-height: 21px
        letter-spacing: 0%
        text-align: left

        &::placeholder
            color: rgb(133, 147, 149)
            font-weight: 400

.copyright
    height: 50px
    background: rgb(60, 126, 126)
    display: flex
    align-items: center
    justify-content: center
    border-top: 1px solid rgb(196, 196, 196)

    color: rgb(255, 255, 255)
    font-family: DM Sans
    font-size: 18px
    font-weight: 400
    line-height: 23px
    letter-spacing: 0%
