@import "../nullstyle/nullstyle"
@import "../templates/site-left_style"

@keyframes slide
    0%
        opacity: 0
        transform: translate(0, -426px)
    100%
        opacity: 1
        transform: translate(0, 0)
@keyframes slide-back
    0%
        opacity: 0
        transform: translate(0, 0px)
    100%
        opacity: 1
        transform: translate(0, -10px)

.site_right
    position: absolute
    top: 0
    width: 100vw

    padding-left: $menu_width
    p
        color: rgb(107, 107, 107)
        font-family: Montserrat
        font-size: 24px
        font-weight: 400
        line-height: 120%
        letter-spacing: 0%
        text-align: center
        padding-top: 300px
.menu__chats
    display: flex
    flex-direction: column
    gap: 2px

.chat
    display: block
    border-radius: 1px
    background: rgb(240, 240, 240)

    display: flex
    flex-direction: row-reverse
    justify-content: start
    align-items: center
    gap: 20px
    padding: 8px 10px
    &__name
        color: rgb(21, 68, 68)
        font-family: Montserrat
        font-size: 30px
        font-weight: 400
        line-height: 120%
        text-align: left
    &__img
        border-radius: 50%
