{% extends "base2.html" %}

{% block content %}
<br><br>
    <a href="chats" class="btn btn-primary">Вернуться</a>


    <center><h1>Добавление участников</h1></center>

    {% if flag1 == False %}
        <br>
        <center><h2>По почте</h2></center>
        <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.email.label }}<br>
            {{ form.email(class="form-control", type="email") }}<br>
            {% for error in form.email.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
        <div>{{ message }}</div>
        </form>
        <br>
        <center><h2>или</h2></center>
        {% for item in data1 %}
            <center>
              <div class="col-md6 border rounded">
                <h2>{{item.name}}</h2>

                <div>from {{item.form}}</div>
                <img src="/static/profile_photos/{{item.photo}}" width="70" height="70">

                <a href="window1/{{item.id}}" class="btn btn-success">Добавить</a>
              </div>
            </center>
        {% endfor %}
    {% else %}
    <center>Некого добавлять</center>
    {% endif %}

{% endblock %}