<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">




    <title>Пример формы</title>
    <title>{{ title }}</title>
</head>
<body>


    <h1><p align="center">BITок</p></h1>
    <div>
        <center>kirik1234pro and Dmitry presents</center>
    </div>


        {% if current_user.is_authenticated %}



        {% else %}
        <center><p>
            <a class="btn btn-primary " href="/register">Зарегистрироваться</a>
            <a class="btn btn-success" href="/login">Войти</a>

        </p></center>
        {% endif %}
{% block content %}{% endblock %}

</body>
</html>