<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    <title>Пример формы</title>
    <title>{{ title }}</title>
</head>
<body>
    

    <h1><p align="center">BITок</p></h1>
    <div>
        <center>kirik1234pro and Dmitry presents</center>
    </div>


        {% if current_user.is_authenticated %}

        <center><a class="navbar-brand" href="/profile">Профиль</a></center>
        <center>
            <a href="main" class="btn btn-primary">Messages</a>
            <a href="chats" class="btn btn-primary">Chats</a>
            <a href="add_friend" class="btn btn-primary">Add friend</a>
            <a href="posts" class="btn btn-primary">Posts</a>
            <a href="date" class="btn btn-primary">Planer</a>
            <a href="timetable" class="btn btn-primary">Timetable</a></center>


        {% else %}
        <center><p>
            <a class="btn btn-primary " href="/register">Зарегистрироваться</a>
            <a class="btn btn-success" href="/login">Войти</a>

        </p></center>
        {% endif %}
{% block content %}{% endblock %}

</body>
</html>