<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/index__style.css" />
    <title>Главная страница</title>
</head>
<body>
    <header class="header">
        <div class="header__left">
            <a href="" class="header__menu_el"><img src="../img/header__logo.png" alt="" class="header__logo"></a>
            <a href="" class="header__menu_el">ГЛАВНАЯ</a>
            <a href="" class="header__menu_el">КОМАНДА</a>
            <a href="" class="header__menu_el">ВОЗМОЖНОСТИ</a>
        </div>
        <div class="header__log">
            <a href="login"><button class="header__signup">ВОЙТИ</button></a>
            <a href="register"><button class="login">ЗАРЕГИСТРИРОВАТЬСЯ</button></a>
        </div>
    </header>
    <main class="content">
        <h1 class="content__title">КРУТОЙ И КРАСИВЫЙ СЛОГАН НАШЕГО КРУТОГО САЙТИ</h1>
        <p class="content__discription">Короткое описание нашего проекта Lorem ipsum dolor sit amet consectetur adipisicing elit. Error nisi, ad adipisci recusandae sequi aperiam ipsum dolore, praesentium cupiditate dolores dolor. Atque totam fugit laborum aut a suscipit, maiores ea? Est nulla eos ipsam sunt repellat sed, voluptates consequuntur quia, libero tenetur minus. Aut exercitationem, eveniet ab.</p>
        {% if current_user.is_authenticated %}
        <div class="content__buttons">
            <a href="main"><button class="content__signup">Продолжить работу</button></a>
            <button class="content__more">Узнать подробнее</button>
        </div>
        {% else %}
        <div class="content__buttons">
            <a href="login"><button class="content__signup">Sign up for "name"</button></a>
            <button class="content__more">Узнать подробнее</button>
        </div>
        {% endif %}

    </main>
    <footer class="top__footer">
        <img src="../img/liva.png" alt="">
        <img src="../img/kanba.png" alt="">
        <img src="../img/amara.png" alt="">
        <img src="../img/aven.png" alt="">
        <img src="../img/hexlab.png" alt="">
    </footer>

</body>
</html>