{% extends "base.html" %}

{% block content %}
{% if current_user.is_authenticated %}
<center><h1>Публикации</h1></center>
<center><a href="add_publication" class="btn btn-primary">Add post</a></center>
{% for item in data%}
<center>
<div class="col-md6 border rounded">
    <h2>{{item.name}}</h2>
    <div>
        Публикация от {{item.author_name}}
    </div>
    <br>
    {% for img in item.photos.split(',') %}
        {% if img != '0' %}
            <img src="/static/posts/{{img}}" height="300" width="img.split('.')[0].split('-')[2].split('_')[1]">
        {% endif %}
    {% endfor %}
    <br>
    <div>
        {{item.content}}
    </div>

    {% if current_user.idstr not in item.flags %}
        <a href="like/{{item.id}}/{{current_user.id}}" class="btn btn-success">{{item.likes}}</a>
    {% else %}
        <a href="dislike/{{item.id}}/{{current_user.id}}" class="btn btn-warning">{{item.likes}}</a>
    {% endif %}
    <a href="read_publication/{{item.id}}" class="btn btn-success">Комменты</a>
    {% if current_user.id == item.author or current_user.role == 2 %}
        <a href="delete_post/{{item.id}}" class="btn btn-warning">Удалить</a>
        <a href="add_photo/{{item.id}}" class="btn btn-warning">+ фото</a>
    {% endif %}
</div>
</center>
{% endfor %}
{% endif %}
{% endblock %}