{% extends "base.html" %}

{% block content %}
<a href="/timetable" class="btn btn-primary">Вернуться</a>
<center><h1>Редактирование расписания</h1></center>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.form.label }}<br>
            {{ form.form(class="form-control", type="email") }}<br>
            {% for error in form.form.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>
            {{ form.day.label }}<br>
            {{ form.day(class="form-control", type="email") }}<br>
            {% for error in form.day.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>
            {{ form.number.label }}<br>
            {{ form.number(class="form-control", type="email") }}<br>
            {% for error in form.number.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>
          {{ form.lesson.label }}<br>
          {{ form.lesson(class="form-control") }}<br>
          {% for error in form.lesson.errors %}
        <div class="alert alert-danger" role="alert">
        {{ error }}
        </div>
        {% endfor %}
        </p>

        <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
        <div>{{ message }}</div>
    </form>
{% endblock %}